<header id="website-info">
  <div class="left-nav">
    <span id="logo">Logo</span>
  </div>
  <div class="user-buttons">
    <% if (!user) { %>
    <a href="/login" id="login">Login</a>
    <a href="/register" id="register">Register</a>
    <% } else { %>
      <p>Welcome <%= user.first_name %>!</p>
      <form method="post" action="/logout">
        <button type="submit" class="logout">Logout</button>
      </form>
      <% } %>
  </div>
</header>
