<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lighthouse Bistro</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/dishes.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
<!-- Top nav bar (fixed) -->
  <nav>
    <!-- Website Navbar -->
    <%- include('partials/_header') %>
    <!-- Restaurant Image -->
    <div id="restaurant-pic" style="background-image: url('https://i.imgur.com/ughbGCU.jpeg')"></div>
     <!-- Restaurant Information -->
     <section id="restaurant-nav">
       <div class="restaurant-info">
         <label>Bistro Done Differently.</label>
         <div>1234 Test Ave</div>
         <div>123-456-7890</div>
      </div>
      <div class="search-cart">
        <i id="cart" class="fa-solid fa-cart-shopping"></i>
      </div>
    </section>
  </nav>
  <main class="container">

    <!-- Back to top button (fixed) -->
    <button id="back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
    <!-- Category nav -->
    <div class="order-selection">
      <section class="dishes">
        <div class="categories">
          <a>All</a>
          <a>Pizza</a>
          <a>Pasta</a>
          <a>Sandwiches</a>
          <a>Appetizers</a>
          <a>Desserts</a>
          <a>Drinks</a>
        </div>
        <section id="dishes-container"></section>
      </section>
      <!-- Order Summary Box -->
      <section id="order-summary">
        <h2>Your Cart</h2>
        <div><i class="fa-solid fa-location-dot"></i> Pick up at 1234 Test Ave</div>
        <div><i class="fa-regular fa-clock"></i> Estimated Time: <output id="cart-est">0</output> minutes</div>
        <div class="cart-detail"></div>
        <button type="submit" id="place-order">Place Order</button>
      </section>
    </div>
  </main>
</body>

</html>
