// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

#back-to-top {
  position: fixed;
  bottom: 1.5em;
  right: 2em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 50%;
  font-size: 0.8em;
  text-align: center;
}

#back-to-top:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 760px) {
  nav {
    width: 100%;
    .user-buttons {
      display: none;
    }
    #nav-toggle {
      display: flex;
      cursor: pointer;
    }
  }
  .order-selection {
    flex-direction: column;
  }
}
