body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  background-color: lightgrey;
  // background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}


.container {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: lightgray;
  border-radius: 5%;
}

.order-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

.dishes {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
}

.categories {
  position: sticky;
  top: 0;
  background-color: #fcfcfb;
  overflow: auto;
  white-space: nowrap;
  border-radius: 1.5em;
  box-shadow: 0.2em 0.2em 0.5em gray;
  a {
    display: inline-block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  a:hover {
    border-radius: 0.5em;
    background-color: lightgray;
  }
}

#dishes-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  align-items: center;
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fcfcfb;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 3%;
    border-radius: 1em;
    label {
        margin-bottom: 2%;
        font-size: 1.8em;
    }
    div {
        text-align: left;
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 1em;
    }
    .dishId {
      display: none;
    }
    img {
      width: 30%;
    }
  }
  article:hover {
    box-shadow: 0.2em 0.2em 0.5em gray;
  }
}

.add-to-cart {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  border: none;
  font-size: 1em;
  background-color: rgb(206, 229, 244);
  cursor: pointer;
}

.add-to-cart:hover {
  transform: scale(1.05);
}

.remove-from-cart {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  border: none;
  font-size: 1em;
  background-color: rgb(206, 229, 244);
  cursor: pointer;
}

.remove-from-cart:hover {
  transform: scale(1.05);
}

#order-summary {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #fcfcfb;
  border-radius: 1.5em;
  margin-left: 5% ;
  margin-right: 5%;
  padding: 2%;
  align-self: baseline;
  top: 2em;
  position: sticky;
  box-shadow: 0.2em 0.2em 0.5em gray;
  div {
    margin-bottom: 3%;
  }
}

.cart-detail {
  margin-top: 2%;
  border-top: 5px solid black;
  padding: 2%;
  article {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 0.2px solid gray;
    .item-count {
      margin-right: 5%;
    }
    .dish-detail {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      label {
        margin-bottom: 2%;
        font-size: 1em;
      }
      div {
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 1em;
      }
    }
  }
}

#place-order {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  border: none;
  font-size: 1em;
  background-color: rgb(206, 229, 244);
  cursor: pointer;
}

#place-order:hover {
  transform: scale(1.05);
}


