@import url('http://fonts.cdnfonts.com/css/gill-sans-mt-condensed');

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  #website-info {
    background: linear-gradient(90deg, rgba(6,35,69,1) 0%, rgba(6,35,69,1) 75%, rgba(2,81,137,1) 100%);
    width: 100%;
    padding: 1.5% 5% 1.5% 5%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    font-size: 1.5em;
    z-index: 6;
  }
  #restaurant-pic {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #restaurant-nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 80%;
    width: 100%;
    padding: 2% 5% 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0em 0.5em 0.5em -0.5em gray;
    font-size: 2em;
    .restaurant-info {
      display: flex;
      flex-direction: column;
      label {
        font-size: 2em;
        margin-bottom: 5%;
      }
      div {
        margin-bottom: 1%;
      }
    }
  }
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  #logo {
    width: 128px;
    height: 120px;
  }
  #contact-us {
    cursor: pointer;
  }
}

.user-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  #login {
    color: white;
    margin-right: 1em;
    cursor: pointer;
  }
  #register {
    color: white;
    margin-right: 1em;
    cursor: pointer;
  }
  p {
    color: white;
    margin-right: 1%;
  }
  .logout {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    background-origin: rgb(206, 229, 244);
    cursor: pointer;
  }
}

