  body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0,0,96);
  background: linear-gradient(90deg, rgba(0,0,96,1) 0%, rgba(128,128,171,1) 50%, rgba(0,212,255,1) 100%);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

#orders-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  align-items: center;
  width: 80%;
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfb;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 3%;
    border-radius: 1em;
    .order-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      label {
          margin-bottom: 2%;
          font-size: 1.8em;
      }
      div {
          text-align: left;
          margin-top: 1%;
          margin-bottom: 2%;
          font-size: 1em;
      }
      button {
        width: 50%;
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 2em;
        border: none;
        font-size: 0.8em;
        background-color: rgb(206, 229, 244);
        cursor: pointer;
      }
    }
  }
  article:hover {
    box-shadow: 0.2em 0.2em 0.5em gray;
  }
}
